@using ProjetoProdutos.Enums;
@model mdlUsuario;
@{
    ViewBag.MainContentClass = "main-custom";
    ViewData["Title"] = "Editar usuários";
}

<div class="container-editar">
    <div class="text-center">
        <h1 class="display-4 titulo">Editar usuário</h1>
        <img src="~/css/editing-body-text-animate.svg" alt="mulher-jogando-lixo-fora" />
    </div>

    <form asp-controller="Usuario" asp-action="Alterar" method="post" class="form-editar">

        <input type="hidden" asp-for="id" />

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do usuário">
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="qtd">E-mail</label>
            <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ncategoria">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="ncategoria">Perfil</label>
            <select class="form-control form-select" asp-for="TipoPerfil">
                <option value="">Selecione</option>
                <option value="@PerfilEnum.Admin">Administrador</option>
                <option value="@PerfilEnum.Padrao">Padrão</option>
            </select>
            <span asp-validation-for="TipoPerfil" class="text-danger"></span>
        </div>

        <div class="mt-2">
            <button type="submit" class="btn btn-custom">Alterar</button>
            <a class="btn btn-custom" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>



